body {
  background-color: #FCF1E8;
}

.container-fluid {
  background-color: #FCFCFC;
}

.title {
  text-align: center;
  margin-top: 5vh;
}

#first-paragraph, #route-viz {
  text-align: center;
  margin: 30px auto;
}

.map {
  margin: 0 auto;
}

.county {
  fill: white;
  stroke: black;
}
